{ns main
 import #{aidbox
          config
          rxnorm}
 
 box
 {:zen/tags #{aidbox/system}
  :config   config/base-config
  :services {:repositories config/repositories
             :admin-user-seed config/admin-user-seed
             :scheduler-service config/scheduler-service
             :root-client-seed config/root-client-seed}}}
