{ns main
 import #{aidbox
          config}
 
 box
 {:zen/tags #{aidbox/system}
  :config   config/base-config
  :services {:repositories config/repositories
             :scheduler-service config/scheduler-service}}}
